<!DOCTYPE html>
<html lang="en">
<head>
  <title>Scheme header example</title>
</head>

<body>

<form action='/schemegen/convert/{{ tree.id }}' method="post">
<h2>1. Истец</h2>
<input type="checkbox" name="choice-1" id="c1-v1" value="c1-v1">
<label for="c1-v1"></label>

<h2>2. Представитель истца</h2>
<h2>3. Ответчик</h2>
<h2>4. Есть ли третье лицо</h2>
<h2>5. Цена иска</h2>
<h2>6. Государственная пошлина</h2>
</form>

<script>
  var loginForm = document.forms.login; // Or document.forms['login']
  loginForm.elements.email.placeholder = 'test@example.com';
  loginForm.elements.password.placeholder = 'password';
</script>
</body>
</html>