{% if latest_choice_list %}
    <form action='/schemegen/convert/' method="post">
    {% csrf_token %}
    {% for choice in latest_choice_list %}
        <h2>{{ choice.choice_text }}</h2>
        {% for variant in choice.variant_set.all %}
            <input type="radio" name="variant_choice{{ choice.id }}" id="variant{{ forloop.counter }}" value="{{ variant.id }}">
            <label for="variant{{ forloop.counter }}">{{ variant.variant_text }}</label>
        {% endfor %}
    {% endfor %}
    <br>
    <input type="submit" value="Convert to Word!">
    </form>
{% else %}
    <p>Not available.</p>
{% endif %}

