<!-- <php if(isset($_POST)) {
    print_r($_POST);
}
?> -->

<form name="main_form" action="" method="POST">
    {% csrf_token %}
    <h2>
        First Question
    </h2>
    <input type="radio" name="one[]" value="answer1">
    <input type="radio" name="one[]" value="answer2">
    <input type="radio" name="one[]" value="answer3">
    <input type="radio" name="one[]" value="answer4">
    <h2>
        Second question
    </h2>
    <input type="radio" name="two[]" value="answer1">
    <input type="radio" name="two[]" value="answer2">
    <input type="radio" name="two[]" value="answer3">
    <input type="radio" name="two[]" value="answer4">
    <br>
    <input type="submit">
</form>